.stay {
    background: #F2EFE6;
    &__content {
        display: flex;
        padding-top: 54px;
    }

    &__rowtitle {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        margin-bottom: 26px;
    }

    &__rowtext {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #163A24;
        margin-bottom: 73px;
    }
&__col{
    margin-left: 248px;
   
}

    &__colbtn {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FBFAF7;
        background: #15762E;
        border-radius: 160px;
        border: 0;
        cursor: pointer;
        max-width: 111px;
        width: 100%;
        padding: 10px 25px;
        position: relative;
        bottom: 40px;
        left: 480px;
    }

    &__colbtns {
        background: #FFFFFF;
        border: 1px solid #F2EFE6;
        border-radius: 255px;
        border: 0;
        cursor: pointer;
        max-width: 553px;
        width: 100%;
        padding: 10px 25px;
    }

    &__coltext {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #163A24;
        max-width: 524px;

        
    }

    &__coltitle {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #198C36;
        max-width: 89px;
        position: relative;
        left: 251px;
        bottom: 21px;
        
}

}